@{
    Layout = "_AdminLayout";
    var appointmentLetters = ViewBag.AppointmentLetters;
}

<table class="table table-sm">
    <thead>
        <tr>
            <th>ID</th>
            <th>Appointment No</th>
            <th>Name</th>
            <th>Time</th>
            <th>Category</th>
            <th>Sub Category</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var appointmentLetter in appointmentLetters)
        {
            <tr>
                <td>@appointmentLetter.EmailId</td>
                <td>@appointmentLetter.AppointmentNo</td>
                <td>@appointmentLetter.Name</td>
                <td>@appointmentLetter.Time</td>
                <td>@appointmentLetter.Category</td>
                <td>@appointmentLetter.SubCategory</td>
            </tr>
        }
    </tbody>
</table>