@{
    Layout = "_AdminLayout";
    var appointmentLetters = ViewBag.AppointmentLetters;
}

<table class="table table-sm">
    <thead>
        <tr>
            <th>ID</th>
            <th>Appointment No</th>
            <th>Name</th>
            <th>Time</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var appointmentLetter in appointmentLetters)
        {
            var tableClass = string.Empty;
            if (appointmentLetter.Time <= DateTime.Now.AddDays(2))
            {
                tableClass = "table-warning";
            }
            else if (appointmentLetter.Time < DateTime.Now.AddDays(1))
            {
                tableClass = "table-dark";
            }
            <tr class="@tableClass">
                <td>@appointmentLetter.EmailId</td>
                <td>
                    @appointmentLetter.AppointmentNo
                    <span class="badge badge-info">
                        @appointmentLetter.Category
                        -
                        @appointmentLetter.SubCategory
                    </span>
                </td>
                <td>@appointmentLetter.Name</td>
                <td>@appointmentLetter.Time</td>
                <td></td>
            </tr>
        }
    </tbody>
</table>