@model IEnumerable<AppointmentModel>
@using Microsoft.AspNetCore.Mvc;
@using System.Text;

@{
    var groups = Model
        .GroupBy(appointment => appointment.Category + appointment.SubCategory)
        .ToDictionary(group => group.Key, group => group.ToArray());
}

@functions
{
    public object showAppointments(IDictionary<string, AppointmentModel[]> groups, string category)
    {
        if (groups.ContainsKey(category))
        {
            var stringBuilder = new StringBuilder();
            foreach (var appointment in groups[category])
            {
                stringBuilder.Append(appointment.Time.ToString("dd/MM/yyyy HH:mm"));
                stringBuilder.Append(appointment.Expiration?.ToString(" - HH:mm"));
                stringBuilder.Append("<br />");
            }
            return stringBuilder.ToString();
        }
        else
        {
            return "<span class=\"text-danger\">No valid</span>";
        }
    }
}

<h1>GNIB / IRP</h1>
<table class="table irp">
    <thead>
        <tr>
            <th scope="col"></th>
            <th scope="col">Work</th>
            <th scope="col">Study</th>
            <th scope="col">Other</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var set in new [] { "New", "Renewal" })
        {
            <tr>
                <th scope="row">@set</th>
                <td>
                    <h6>
                        <span class="badge badge-info">@set</span>
                    </h6>
                    @Html.Raw(showAppointments(groups, $"Work{set}"))
                </td>
                <td>
                    <h6>
                        <span class="badge badge-info">@set</span>
                    </h6>
                    @Html.Raw(showAppointments(groups, $"Study{set}"))
                </td>
                <td>
                    <h6>
                        <span class="badge badge-info">@set</span>
                    </h6>
                    @Html.Raw(showAppointments(groups, $"Other{set}"))
                </td>
            </tr>
        }
    </tbody>
</table>
<a class="btn btn-success mb-5" href="https://burghquayregistrationoffice.inis.gov.ie/Website/AMSREG/AMSRegWeb.nsf/AppSelect?OpenForm">Appoint for GNIB/IRP</a>

<style>
    table[class~=irp] .badge {
        display: none;
    }

    @@media only screen and (max-width: 420px) {
        table[class~=irp] tr th:first-child  {
            display: none;
        }

        table[class~=irp] .badge {
            display: block;
        }
    }
</style>

<h1>Visa</h1>
<div class="alert alert-warning">
    <a href="http://www.inis.gov.ie/en/INIS/Pages/Re-entry+visas" target="_blank">Only emergency will be accepted from 3 Sep 2018.</a>
    I'll be following the actual situation. Feel free to contact if you need help.
</div>
<table class="table visa">
    <thead>
        <tr>
            <th scope="col">Individual</th>
            <th scope="col">Family</th>
            <th scope="col">Emergency</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                @Html.Raw(showAppointments(groups, "Individual"))
            </td>
            <td>
                @Html.Raw(showAppointments(groups, "Family"))
            </td>
            <td>
                @Html.Raw(showAppointments(groups, "Emergency"))
            </td>
        </tr>
    </tbody>
</table>
<a class="btn btn-success mb-5" href="https://reentryvisa.inis.gov.ie/website/INISOA/IOA.nsf/AppointmentSelection?OpenForm">Appoint for Visa</a>
