@using GNIBIRPAndVisaAppointment.Web.Business.Application
@model string
@{
    var order = ViewBag.Order;
    var assignment = ViewBag.Assignment;
    var unpaidAmount = ViewBag.UnpaidAmount;
}

@section Head {
    <style type="text/css">
        .table {
            max-width: 400px;
        }
    </style>
}

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">Apply</li>
    <li class="breadcrumb-item">Order</li>
    <li class="breadcrumb-item"><a target="_self" href="#">Checkout</a></li>
    <li class="breadcrumb-item">Status</li>
    <li class="breadcrumb-item">Print</li>
  </ol>
</nav>

<h2>Checkout</h2>
<table class="table table-sm">
    <thead>
        <tr>
            <th>Item</th>
            <th>Price</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Appointment</td>
            <td>€ @order.Base</td>
        </tr>
        <tr>
            <td>From @order.From to @order.To</td>
            <td>€ @order.PickDate</td>
        </tr>
        <tr>
            <td>Emergency</td>
            <td>€ @order.Emergency</td>
        </tr>
        <tr>
            <td>Paid</td>
            <td>€ @(unpaidAmount - order.Amount)</td>
        </tr>
        <tr>
            <td>Special</td>
            <td>€ @order.Special</td>
        </tr>
        <tr>
            <td colspan="2">@order.Comment</td>
        </tr>
    </tbody>
    <tfoot>
        <tr>
            <th>
                Total:
            </th>
            <td>
                <span class="text-success">€ @unpaidAmount.ToString("F2")</span>
            </td>
        </tr>
    </tfoot>
</table>

<table>
    <tr>
        <td>
            @* <form action="/Application/StripePay/@order.Id" method="POST">
            <script
                src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                data-key="@ViewBag.StripeKey"
                data-amount="@(unpaidAmount * 100)"
                data-name="Indream"
                data-description="Widget"
                data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
                data-locale="auto"
                data-currency="eur">
            </script>
            </form> *@
            <button id="checkout-button" class="btn btn-success">Checkout</button>
        </td>
        @if (assignment == null || assignment.Status != AssignmentStatus.Complete || assignment.Status != AssignmentStatus.Closed)
        {
            <td class="pl-2">
                <a class="btn btn-secondary" href="/Application/PayAfter/@order.Id">Pay Later</a>
            </td>
        }
        else
        {
            <td></td>
        }
    </tr>
    <tr>
        <td colspan="2">
            Other payment form please contact me on <a target="_blank" href="https://www.facebook.com/gnibirpvisa">Facebook Page</a>
        </td>
    </tr>
    <tr>
        <td></td>
    </tr>
</table>

@section Scripts {
    <script src="https://js.stripe.com/v3/"></script>
    <script type="text/javascript">
        // Create an instance of the Stripe object with your publishable API key
        var stripe = Stripe("@ViewBag.StripeKey");

        var checkoutButton = document.getElementById("checkout-button");
        checkoutButton.addEventListener("click", function () {
            fetch("/Application/CreatePayment/@order.Id", {
                method: "POST",
            })
            .then(function (response) {
                return response.json();
            })
            .then(function (sessionId) {
                return stripe.redirectToCheckout({ sessionId: sessionId });
            })
            .then(function (result) {
                // If redirectToCheckout fails due to a browser or network
                // error, you should display the localized error message to your
                // customer using error.message.
                if (result.error) {
                    alert(result.error.message);
                }
            })
            .catch(function (error) {
                console.error("Error:", error);
            });
        });
    </script>
}