@model ApplicationModel
@{
    var HostingEnvironment = ViewBag.HostingEnvironment;
}

<div class="alert alert-success">
    I offer services to help making appointment. You may submit the following application.<br>
    You'll be put onto a queue.
    <hr />
    <ul>
        <dt>Cost</dt>
        <li>Regular appointment service costs €50 from Oct 2022.</li>
    </ul>
    <hr />
    <ul>
        <dt>Notice</dt>
        <li>Total or partial prepayment is needed.</li>
        <li>We'll contact you if service situation is changed before continuing the service.</li>
    </ul>
</div>

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a target="_self" href="#">Apply</a></li>
    <li class="breadcrumb-item">Order</li>
    <li class="breadcrumb-item">Checkout</li>
    <li class="breadcrumb-item">Status</li>
    <li class="breadcrumb-item">Print</li>
  </ol>
</nav>

<form method="post">
    <input type="hidden" name="IsInitialized" value="true">
    <h2 class="mt-5 mb-4">Appointment Info</h2>
    <div class="container content">
        <div class="form-group">
            <label for="Category">Category - Sub Category:</label>
            <div class="input-group">
                <select name="Category" id="Category" value="@Model.Category" class="form-control" placeholder="Select...">
                    <option value="All">All</option>
                    <option value="Other">Other</option>
                    <option value="Study">Study</option>
                    <option value="Work">Work</option>
                </select>
                <select name="SubCategory" id="SubCategory" value="@Model.SubCategory" class="form-control" placeholder="Select...">
                    <!-- All -->
                    <option category="All" value="All">All</option>
                    <!-- Work -->
                    <option category="Work" value="Work Permit Holder">Work Permit Holder</option>
                    <option category="Work" value="Hosting agreement">Hosting agreement</option>
                    <option category="Work" value="Working Holiday">Working Holiday</option>
                    <option category="Work" value="Atypical Working Schemes">Atypical Working Schemes</option>
                    <option category="Work" value="Invest or Start a Business">Invest or Start a Business</option>
                    <option category="Work" value="Visiting Academics">Visiting Academics</option>
                    <option category="Work" value="Doctor">Doctor</option>
                    <option category="Work" value="3rd Level Graduate Scheme ">3rd Level Graduate Scheme </option>
                    <!-- Study -->
                    <option category="Study" value="PhD">PhD</option>
                    <option category="Study" value="Masters">Masters</option>
                    <option category="Study" value="Higher National Diploma">Higher National Diploma</option>
                    <option category="Study" value="Degree">Degree</option>
                    <option category="Study" value="English Language Course">English Language Course</option>
                    <option category="Study" value="Second Level">Second Level</option>
                    <option category="Study" value="Pre-Masters">Pre-Masters</option>
                    <option category="Study" value="Visiting Students">Visiting Students</option>
                    <option category="Study" value="3rd Level Graduate Scheme">3rd Level Graduate Scheme</option>
                    <!-- Other -->
                    <option category="Other" value="Lost Card">Lost Card</option>
                    <option category="Other" value="Stolen Card">Stolen Card</option>
                    <option category="Other" value="Join family member">Join family member</option>
                    <option category="Other" value="Permission Letter">Permission Letter</option>
                </select>
            </div>
            <span asp-validation-for="Category" class="form-text text-danger"></span>
            <span asp-validation-for="SubCategory" class="form-text text-danger"></span>
        </div>

        <div class="form-group">
            <label class="control-label">Has GNIB(IRP) No:</label>
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">
                        <input name="HasGNIB" id="HasGNIB" value="true" type="checkbox" @(Model.HasGNIB ? "checked" : string.Empty)>
                    </span>
                </div>
                <input name="GNIBNo" id="GNIBNo" value="@Model.GNIBNo" class="form-control" placeholder="GNIB number">
                <input name="GNIBExDT" value="@Model.GNIBExDT" id="GNIBExDT" class="form-control" placeholder="Expire: 30/03/2018">
            </div>
            <span asp-validation-for="GNIBNo" class="form-text text-danger"></span>
            <span asp-validation-for="GNIBExDT" class="form-text text-danger"></span>
        </div>

        <div class="alert alert-warning">
            If you don't have an old GNIB/IRP number you may uncheck it.<br>
        </div>

        <div class="form-group">
            <label for="Salutation" class="control-label">Salutation:</label>
            <select name="Salutation" value="@Model.Salutation" id="Salutation" class="form-control" placeholder="Select...">
                <option value="">Select...</option>
                @foreach (var salutation in ApplicationModel.Salutations)
                {
                    <option value="@salutation">@salutation</option>
                }
            </select>
            <span asp-validation-for="Salutation" class="form-text text-danger"></span>
        </div>
        <div class="form-group">
            <label for="GivenName" class="control-label">Given Name:</label>
            <input name="GivenName" value="@Model.GivenName" id="GivenName" class="form-control" placeholder="Enter your given name">
            <span asp-validation-for="GivenName" class="form-text text-danger"></span>
        </div>
        <div class="form-group">
            <label for="MidName" class="control-label">Middle Name(s) (if any):</label>
            <input name="MidName" value="@Model.MidName" id="MidName" class="form-control" placeholder="Enter your middle name(s)">
            <span asp-validation-for="MidName" class="form-text text-danger"></span>
        </div>
        <div class="form-group">
            <label for="SurName" class="control-label">Surname:</label>
            <input name="SurName" value="@Model.SurName" id="SurName" class="form-control" placeholder="Enter your surname">
            <span asp-validation-for="SurName" class="form-text text-danger"></span>
        </div>
        <div class="form-group">
            <label for="DOB" class="control-label">Date of Birth:</label>
            <input name="DOB" value="@Model.DOB" id="DOB" class="form-control" placeholder="30/03/2018">
            <span asp-validation-for="DOB" class="form-text text-danger"></span>
        </div>

        <div class="form-group">
            <label for="Nationality" class="control-label">Nationality:</label>
            <select name="Nationality" value="@Model.Nationality" id="Nationality" class="form-control" placeholder="Select...">
                <option value="">Select...</option>
                @foreach (var nationality in ApplicationModel.Nationalities)
                {
                    <option value="@nationality">@nationality</option>
                }
            </select>
            <span asp-validation-for="Nationality" class="form-text text-danger"></span>
        </div>

        <div class="form-group">
            <label for="Email" class="control-label">Email:</label>
            <input name="Email" value="@Model.Email" id="Email" class="form-control" placeholder="Enter your email address">
            <span asp-validation-for="Email" class="form-text text-danger"></span>
        </div>

        <div class="form-group">
            <label for="EmailConfirm" class="control-label">Confirm email:</label><br>
            <input name="EmailConfirm" value="@Model.EmailConfirm" id="EmailConfirm" class="form-control" placeholder="Enter your email address again">
            <span asp-validation-for="EmailConfirm" class="form-text text-danger"></span>
        </div>

        <div class="form-group">
            <label class="control-label">If this is a family appointment, select the total number of family:</label>
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">
                        <input name="IsFamily" id="IsFamily" value="true" type="checkbox">
                    </span>
                </div>
                <select name="FamAppNo" value="@Model.FamAppNo" id="FamAppNo" class="form-control" placeholder="Select...">
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                    <option value="10">10 or more</option>
                </select>
            </div>
            <span asp-validation-for="IsFamily" class="form-text text-danger"></span>
            <span asp-validation-for="FamAppNo" class="form-text text-danger"></span>
        </div>

        <div class="form-group">
            <label class="control-label">Has Passport:</label>
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">
                        <input name="HasPassport" id="HasPassport" value="true" type="radio" @(Model.HasPassport ? "checked" : string.Empty)>
                        Yes
                    </span>
                </div>
                <input name="PPNo" value="@Model.PPNo" id="PPNo" class="form-control" placeholder="Enter your passport or travel document number" maxlength="30">
            </div>
            <span asp-validation-for="PPNo" class="form-text text-danger"></span>
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">
                        <input name="HasPassport" id="HasPassport" value="false" type="radio" @(!Model.HasPassport ? "checked" : string.Empty)>
                        No
                    </span>
                </div>
                <select name="PPReason" value="@Model.PPReason" id="PPReason" class="form-control" placeholder="Enter your passport number">
                    <option>I am a recognised refugee in Ireland</option>
                    <option>My passport has expired</option>
                    <option>Other</option>
                    <option>My embassy cannot/will not help me get my passport renewed</option>
                </select>
            </div>
            <span asp-validation-for="PPReason" class="form-text text-danger"></span>
            <div class="alert alert-warning">
                Applications without a current passport will only be processed in exceptional circumstances.
                You must bring photographic identification to your appointment. If you have an expired passport, please bring this document.
            </div>
        </div>
    </div>

    <h2 class="mt-5 mb-4">Comment</h2>
    <div class="container content">
        <div class="alert alert-info">
            If you're in urgent situation or accept close dates, please leave me an emergency contact so that I could reach you when the appointment is made for the same day or next day.
            <br />
            Leave me more message about you, such as what you expect, helps me offer better service.
        </div>
        <div class="alert alert-danger">
            If I cannot contact you, your application will not be proceeded.
        </div>
        <div class="form-group">
            <textarea name="Comment" style="height: 200px" class="form-control" placeholder="Hi, you can also find me by 0876543210. Also Whatsapp ***, Facebook Michael C Higgins.">@Model.Comment</textarea>
        </div>
    </div>

    <div class="container content">
        <div class="form-group alert alert-secondary">
            <div>
                I confirm that I understand the conditions of my permission. Conditions available on <a href="http://www.inis.gov.ie/en/INIS/Pages/registration-stamps">Permission, stamps &amp; conditions.</a> 
            </div>
            <div>
                <p>
                    You must confirm that ALL of the following statements are true:
                </p>
                <ol>
                    <li>I confirm I have selected the Category and Sub-Category that applies to me. </li>
                    <li>I confirm that I understand the conditions of my permission.</li>
                </ol>
                <p>
                    Conditions available on <a href="http://www.inis.gov.ie/en/INIS/Pages/registration-stamps">INIS website.</a> 
                </p>
            </div>
        </div>
        <div class="alert alert-warning">
            <div>
                <input type="checkbox" name="UsrDeclaration" value="true" id="UsrDeclaration" @Html.Raw(Model.UsrDeclaration ? "checked" : string.Empty) />
                I confirm that all of the above statements are true.
            </div>
            <span asp-validation-for="UsrDeclaration" class="form-text text-danger"></span>
        </div>

        <div class="alert alert-warning">
            <input type="checkbox" value="true" name="AuthorizeDataUsage" id="AuthorizeDataUsage" />
            I authorize the use of personal data for the services of making GNIB/IRP appointment.
        </div>
        <input type="hidden" name="reCaptchaResponse" id="reCaptchaResponse" />
        @if (Microsoft.AspNetCore.Hosting.HostingEnvironmentExtensions.IsDevelopment(HostingEnvironment))
        {
            <button class="btn btn-success g-recaptcha submit" type="Submit">Next</button>
        }
        else
        {
            @if (ViewBag.reCaptchaVerified == false)
            {
                <div class="alert alert-danger">
                    Google reCaptcha Verification Failed.
                </div>
            }

            <button class="btn btn-success g-recaptcha submit"
                data-sitekey="@ViewBag.reCaptchaUserCode"
                data-callback="submit">Next
            </button>
        }
    </div>
</form>

<hr class="m-5" />
<div class="fb-comments" data-href="http://gnibirpvisa.ie/Application" data-order-by="reverse_time" width="100%" data-numposts="20"></div>

@section scripts {
    <script type="text/javascript">
        var submit = function (responseToken) {
            $(reCaptchaResponse).val(responseToken);
            $('form').submit();
        }

        $(document).ready(function () {
            var $subCategoryAll = $(SubCategory).find('option[category="All"]').clone();
            var $subCategoryWork = $(SubCategory).find('option[category="Work"]').clone();
            var $subCategoryStudy = $(SubCategory).find('option[category="Study"]').clone();
            var $subCategoryOther = $(SubCategory).find('option[category="Other"]').clone();
            var $subCategories = [$subCategoryAll, $subCategoryWork, $subCategoryStudy, $subCategoryOther];
            var refreshSubCategory = function () {
                var value = $(Category).attr('value') || $(Category).val();
                $(Category).attr('value', null).val(value);
                var subValue = $(SubCategory).attr('value');
                $(SubCategory).empty();
                for (var i in $subCategories) {
                    $subCategories[i].attr('category') == value
                    && $(SubCategory).append($subCategories[i].clone());
                }

                subValue && $(SubCategory).val(subValue);
            }
            refreshSubCategory();
            $(Category).change(refreshSubCategory);

            var setGNIB = function () {
                $([GNIBNo, GNIBExDT]).prop('disabled', !HasGNIB.checked);
            }
            $(HasGNIB).change(setGNIB);
            setGNIB();

            var setFamilyApplication = function () {
                $(FamAppNo).prop('disabled', !IsFamily.checked);
            }
            $(IsFamily).change(setFamilyApplication);
            setFamilyApplication();

            var setPassport = function () {
                $(PPNo).prop('disabled', $('#HasPassport:checked').val() == 'false');
                $(PPReason).prop('disabled', $('#HasPassport:checked').val() == 'true');
            }
            $(HasPassport).change(setPassport);
            setPassport();

            $('select').each(function () {
                if ($(this).attr('value')) {
                    $(this).val($(this).attr('value'));
                }
            });
            $('.submit').prop('disabled', !AuthorizeDataUsage.checked);
            $('input[name="AuthorizeDataUsage"]').change(function () {
                $('.submit').prop('disabled', !this.checked);
            });
        });
    </script>
}