@model OrderModel

@{
    var application = ViewBag.Application;
}

<form method="POST">
    <input type="hidden" name="isOld" value="true" />
    <div class="jumbotron">
        <h4 class="mb-3">Appointment</h4>
        <table class="table table-sm">
            <tbody>
                <tr>
                    <td>
                        @application.Category
                        -
                        @application.SubCategory
                        @(application.ConfirmGNIB == "Renewal" ? $"- Renewal: ({application.GNIBNo})" : "New")
                    </td>
                </tr>
                <tr>
                    <td>
                        @application.GivenName
                        @application.SurName
                        (
                            @application.DOB
                        )
                        @(application.FamAppYN == "Yes" ? $"* {application.FamAppNo} person(s)" : "Individual")
                    </td>
                </tr>
                <tr>
                    <td>
                        @application.Nationality
                        -
                        @(application.PPNoYN == "Yes" ? application.PPNo : application.PPReason)
                    </td>
                </tr>
                <tr>
                    <td>
                        @application.Comment
                    </td>
                </tr>
            </tbody>
        </table>
        <h4 class="mb-3">Service</h4>
        <div class="form-group pl-5">
            <input class="form-check-input" id="appointment" type="checkbox" disabled checked amount="33">
            <label class="form-check-label" for="rebook">€33, a regular appointment</label>
        </div>
        <div class="form-row pl-5">
            <input class="form-check-input mt-2" id="selectFrom" name="selectFrom" type="checkbox" amount="3">
            <label class="form-check-label" for="selectFrom">From (€3):</label>
            <div class="col-auto">
                <input class="form-control form-control-sm" name="from" placeholder="2018-11-30" />
            </div>
        </div>
        <div class="form-row pl-5 mb-3">
            <input class="form-check-input mt-2" id="selectTo" name="selectTo" type="checkbox" amount="3">
            <label class="form-check-label" for="selectTo">To (€3):</label>
            <div class="col-auto">
                <input class="form-control form-control-sm" name="to" placeholder="YYYY-MM-DD" />
            </div>
        </div>
        <div class="alert alert-warning">
            The wider range of dates you pick the more you are possible to get an appointment
        </div>
        <div class="form-group pl-5">
            <input class="form-check-input" id="cancellation" type="checkbox" checked amount="0">
            <label class="form-check-label" for="cancellation">€0, free cancellation when I booked the wrong date for you</label>
        </div>
        <div class="form-group pl-5">
            <input class="form-check-input" id="rebook" name="rebook" type="checkbox" value="true" amount="20">
            <label class="form-check-label" for="rebook">€20, 1 rebook after cancellation</label>
        </div>
        <div class="alert alert-warning mb-4">
            If I picked the date you selected but you still want to cancel it and get another one, I can rebook one more time for you after cancellation.
        </div>
        <div class="form-group pl-5">
            <input class="form-check-input" id="noCancelRebook" name="noCancelRebook" type="checkbox" value="true" amount="33">
            <label class="form-check-label" for="noCancelRebook">€33, rebook without cancellation</label>
        </div>
        <div class="alert alert-warning mb-4">
            Use this when you already have an appointment which you don't like and you still want to make another one without cancelling the current one.
            <br />
            <strong>Please do cancel others which you don't need at last if you have more than 1 appointment. There're other people needing them so much!</strong>
        </div>
        <div class="form-group pl-5">
            <input class="form-check-input" id="emergency" name="emergency" type="checkbox" value="true" amount="40">
            <label class="form-check-label" for="emergency">€40, emergency</label>
        </div>
        <div class="alert alert-warning">
            You'll be put on top of the list.<br />
            <strong>You don't need this if you're not that urgent.</strong>
        </div>
        <hr />
        <p>Total Amount: <span class="text-success amount"></span></p>
        <input class="btn btn-success" type="submit" value="Checkout" />
    </div>
</form>

@section scripts {
    <script type="text/javascript">
        var recalculateAmount = function () {
            var amount = 0;
            $('input').each(function () {
                if ($(this).prop('checked')) {
                    amount += parseFloat($(this).attr('amount'));
                }
            });
            $('.amount').html('€' + amount + '.00');
        }

        $('input').change(recalculateAmount);
        recalculateAmount();
    </script>
}