@model OrderModel

@{
    var application = ViewBag.Application;
}

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">Apply</li>
    <li class="breadcrumb-item"><a target="_self" href="#">Order</a></li>
    <li class="breadcrumb-item">Checkout</li>
    <li class="breadcrumb-item">Status</li>
    <li class="breadcrumb-item">Print</li>
  </ol>
</nav>

<form method="POST">
    <input type="hidden" name="isOld" value="true" />
    
    <h4 class="mb-3">Your Application</h4>
    <table class="table table-sm">
        <tbody>
            <tr>
                <td>
                    @application.Category
                    -
                    @application.SubCategory
                    -
                    @(application.ConfirmGNIB == "Renewal" ? $"- Renewal: ({application.GNIBNo})" : "New")
                </td>
            </tr>
            <tr>
                <td>
                    @application.GivenName
                    @application.SurName
                    (
                        @application.DOB
                    )
                    @(application.FamAppYN == "Yes" ? $"* {application.FamAppNo} person(s)" : "Individual")
                </td>
            </tr>
            <tr>
                <td>
                    @application.Nationality
                    -
                    @(application.PPNoYN == "Yes" ? application.PPNo : application.PPReason)
                </td>
            </tr>
            <tr>
                <td>
                    @application.Comment
                </td>
            </tr>
        </tbody>
    </table>

    <div class="alert alert-danger">
        <strong>Warning:</strong> The application is not finished yet. You need to submit the following order with picked service(s)!
    </div>

    <div class="jumbotron">
        <h4 class="mb-3">Select Your Service(s)</h4>

        <hr class="my-4" />

        <div class="form-group pl-4">
            <input class="form-check-input" id="appointment" type="checkbox" disabled checked amount="20">
            <label class="form-check-label" for="rebook">€20 - Appointment</label>
        </div>

        <hr class="my-4" />

        <div class="form-group pl-4">
            <input class="form-check-input" id="pickDate" name="pickDate" type="checkbox" value="true" amount="10" @(Model.PickDate ? "checked" : string.Empty)>
            <label class="form-check-label" for="pickDate">€10 - Appointment in date range:</label>
            <br />
            <div class="mt-3">FROM</div>
            <input class="form-control form-control-sm from" name="from" value="@Model.From" placeholder="30/11/2018" />
            <div class="mt-3">TO</div>
            <input class="form-control form-control-sm to" name="to" value="@Model.To" placeholder="DD/MM/YYYY" />
            <span asp-validation-for="From" class="form-text text-danger"></span>
            <span asp-validation-for="To" class="form-text text-danger"></span>
        </div>
        <div class="alert alert-info">
            The wider range of dates you pick the more you are possible to get an appointment.
            <br />
            A date range for wider than 2 weeks is highly suggested.
            <br />
            If the appointment is booked in your set date range but you cannot go, the service will still be considered as done.
        </div>
        <div class="alert alert-warning">
            If you don't pick any date, you could be booked for any date in the following 10 weeks.
            <br />
            If don't set FROM date, it could be from <strong>Today</strong>.
        </div>
        <div class="form-group pl-4">
            <input class="form-check-input" id="cancellation" type="checkbox" checked amount="0">
            <label class="form-check-label" for="cancellation">
                <span class="badge badge-success">FREE</span>
                Free cancellation when I booked the date out of your selection
            </label>
        </div>

        <hr class="my-4" />

        <div class="form-group pl-4">
            <input class="form-check-input" id="emergency" name="emergency" type="checkbox" value="true" amount="10" @(Model.Emergency ? "checked" : string.Empty)>
            <label class="form-check-label" for="emergency">€10 - Emergency</label>
        </div>
        <div class="alert alert-info">
            You'll be put on top of the list.
        </div>

        <hr class="my-4" />

        <div class="form-group pl-4">
            <input class="form-check-input" id="anyCategory" name="anyCategory" type="checkbox" value="true" @(Model.AnyCategory ? "checked" : string.Empty)>
            <label class="form-check-label" for="anyCategory">
                <span class="badge badge-success">FREE</span>
                Accept Any Category
            </label>
        </div>
        <div class="alert alert-info">
            You accept any category that suits your time range. I will try all 3 different categories for you. This makes you *3 more possible to get an appointment.
            <br />
            According to the registration office, appointment from another category will be accepted if you are hard to find an appointment.
            <br />
            <strong>You will be proceeded as your original category at last.</strong>
        </div>
        <div class="alert alert-warning">
            You are highly suggested to accept any category if you're looking for dates within next 2 weeks only.
        </div>
        @if (ViewBag.IsSignedIn)
        {
            <hr class="my-5" />
            <div class="form-group pl-5">
                <label class="form-check-label" for="special">Special: €</label>
                <input type="input" id="special" name="special" value="@Model.Special" />
                <span asp-validation-for="Special" class="form-text text-danger"></span>
            </div>
            <div class="form-group pl-5">
                <label class="form-check-label" for="comment">Comment</label>
                <input type="input" id="comment" name="comment" value="@Model.Comment" />
                <span asp-validation-for="Special" class="form-text text-danger"></span>
            </div>
        }
        <hr class="my-5" />
        <div class="alert alert-danger">
            <input class="agreement" type="checkbox" value="true" name="agreement" />
            I agree to pay for the service(s) I choose and set once it is done.
        </div>
        <p>Total Amount: <span class="text-success amount"></span></p>
        <input class="btn btn-success submit" type="submit" disabled value="Submit" />
    </div>
</form>

@section scripts {
    <script type="text/javascript">
        var recalculateAmount = function () {
            var amount = $('#special').val() ? parseFloat($('#special').val()) : 0;
            $('input').each(function () {
                if ($(this).prop('checked') && $(this).attr('amount')) {
                    amount += parseFloat($(this).attr('amount'));
                }
            });
            $('.amount').html('€' + amount + '.00');
        }

        $('input').change(recalculateAmount);
        $(pickDate).change(function () {
            $('.from, .to').prop('disabled', !$(this).prop('checked'));
        });
         $('.from, .to').prop('disabled', !$(pickDate).prop('checked'));

        recalculateAmount();

        $('.agreement').change(function () {
            $('.submit').prop('disabled', !this.checked);
        });
    </script>
}