@model OrderModel

@{
    var application = ViewBag.Application;
}

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">Apply</li>
    <li class="breadcrumb-item"><a target="_self" href="#">Order</a></li>
    <li class="breadcrumb-item">Checkout</li>
    <li class="breadcrumb-item">Status</li>
    <li class="breadcrumb-item">Print</li>
  </ol>
</nav>

<form method="POST">
    <input type="hidden" name="isOld" value="true" />
    <div class="jumbotron">
        <h4 class="mb-3">Appointment</h4>
        <table class="table table-sm">
            <tbody>
                <tr>
                    <td>
                        @application.Category
                        -
                        @application.SubCategory
                        -
                        @(application.ConfirmGNIB == "Renewal" ? $"- Renewal: ({application.GNIBNo})" : "New")
                    </td>
                </tr>
                <tr>
                    <td>
                        @application.GivenName
                        @application.SurName
                        (
                            @application.DOB
                        )
                        @(application.FamAppYN == "Yes" ? $"* {application.FamAppNo} person(s)" : "Individual")
                    </td>
                </tr>
                <tr>
                    <td>
                        @application.Nationality
                        -
                        @(application.PPNoYN == "Yes" ? application.PPNo : application.PPReason)
                    </td>
                </tr>
                <tr>
                    <td>
                        @application.Comment
                    </td>
                </tr>
            </tbody>
        </table>
        <h4 class="mb-3">Service</h4>
        <div class="form-group pl-5">
            <input class="form-check-input" id="appointment" type="checkbox" disabled checked amount="20">
            <label class="form-check-label" for="rebook">€20 - Appointment</label>
        </div>
        <div class="form-group pl-5">
            <input class="form-check-input" id="pickDate" name="pickDate" type="checkbox" value="true" amount="10" @(Model.PickDate ? "checked" : string.Empty)>
            <label class="form-check-label" for="pickDate">€10 - Pick date:</label>
            <br />
            from
            <input class="form-control form-control-sm from" name="from" value="@Model.From" placeholder="30/11/2018" />
            to
            <input class="form-control form-control-sm to" name="to" value="@Model.To" placeholder="DD/MM/YYYY" />
            <span asp-validation-for="From" class="form-text text-danger"></span>
            <span asp-validation-for="To" class="form-text text-danger"></span>
        </div>
        <div class="form-group pl-5">
            <input class="form-check-input" id="cancellation" type="checkbox" checked amount="0">
            <label class="form-check-label" for="cancellation">€0, free cancellation when I booked the date out of your selection</label>
        </div>
        <div class="alert alert-warning">
            The wider range of dates you pick the more you are possible to get an appointment.
            If you don't pick any date, you could be booked for any date in the following 10 weeks.
        </div>
        <div class="form-group pl-5">
            <input class="form-check-input" id="emergency" name="emergency" type="checkbox" value="true" amount="20" @(Model.Emergency ? "checked" : string.Empty)>
            <label class="form-check-label" for="emergency">€20 - Emergency</label>
        </div>
        <div class="alert alert-warning">
            You'll be put on top of the list.<br />
            <strong>You don't need this if you're not that urgent.</strong>
        </div>
        <hr />
        <p>Total Amount: <span class="text-success amount"></span></p>
        <input class="btn btn-success" type="submit" value="Checkout" />
    </div>
</form>

@section scripts {
    <script type="text/javascript">
        var recalculateAmount = function () {
            var amount = 0;
            $('input').each(function () {
                if ($(this).prop('checked')) {
                    amount += parseFloat($(this).attr('amount'));
                }
            });
            $('.amount').html('€' + amount + '.00');
        }

        $('input').change(recalculateAmount);
        $(pickDate).change(function () {
            $('.from, .to').prop('disabled', !$(this).prop('checked'));
        });
         $('.from, .to').prop('disabled', !$(pickDate).prop('checked'));

        recalculateAmount();
    </script>
}