@using GNIBIRPAndVisaAppointment.Web.Business.Application
@{
    Layout = "_AdminLayout";
    var status = ViewBag.Status;
    var assignments = ViewBag.Assignments;
    var payments = ViewBag.Payments;
}

<table class="table table-sm">
    <thead>
        <tr>
            <nav>
                <div class="nav nav-tabs assignment-nav">
                    <a class="nav-item nav-link pending" href="/Admin/Assignment/Pending">Pending</a>
                    <a class="nav-item nav-link accepted" href="/Admin/Assignment/Accepted">Accepted</a>
                    <a class="nav-item nav-link appointed" href="/Admin/Assignment/Appointed">Appointed</a>
                    <a class="nav-item nav-link duplicated" href="/Admin/Assignment/Duplicated">Duplicated</a>
                    <a class="nav-item nav-link complete" href="/Admin/Assignment/Complete">Complete</a>
                    <a class="nav-item nav-link cancelled" href="/Admin/Assignment/Cancelled">Cancelled</a>
                    <a class="nav-item nav-link rejected" href="/Admin/Assignment/Rejected">Rejected</a>
                    <a class="nav-item nav-link closed" href="/Admin/Assignment/Closed">Closed</a>
                </li>
            </nav>
        </tr>
        <tr class="table-secondary">
            <th>Person (@assignments.Count)</th>
            <th>Category</th>
            <th>Target</th>
            <th>Time</th>
            <th>Status</th>
            <th>Appointment</th>
            <th>Payment</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var assignment in assignments)
        {
            <tr @(status != "Closed" && (assignment.AppointmentLetter?.Time.Date ?? DateTime.MaxValue) <= DateTime.Now ? "class=table-danger" : string.Empty)>
                <td>
                    <a target="_blank" href="/Application/Status/@assignment.Id">
                        @assignment.Application.GivenName @assignment.Application.SurName
                    </a>
                </td>
                <td>
                    @if (assignment.Order.AnyCategory != 0)
                    {
                        <span class="badge badge-primary">ANY</span>
                    }
                    <strong>@assignment.Application.Category</strong>
                    <br />
                    @assignment.Application.SubCategory
                    <br />
                    <strong>@assignment.Application.ConfirmGNIB</strong>
                </td>
                <td>
                    @assignment.Order.From ~ @assignment.Order.To
                </td>
                <td>@assignment.Time</td>
                <td>
                    @Html.Partial("~/Views/Application/StatusPartial.cshtml", assignment.Status as string)
                </td>
                <td>
                    @if (assignment.AppointmentLetter != null)
                    {
                        <a target="_blank" href="/Application/Appointment/@assignment.Id">@assignment.AppointmentLetter.AppointmentNo</a>
                        <br />
                        @assignment.AppointmentLetter.Time.ToString("MM-dd HH:mm")
                    }
                </td>
                <td>
                    @{
                        var payment = payments[assignment.Id];
                        if (payment == null)
                        {
                            <span class="badge badge-danger">Unpaid</span>
                        }
                        else
                        {
                            <span class="badge badge-success">Paid</span>
                            <br />
                            @payment.Type
                            <br />
                            @switch(payment.Currency)
                            {
                                case "cny":
                                    <span>¥</span>
                                    break;
                                case "eur":
                                    <span>€</span>
                                    break;
                                case "usd":
                                    <span>$</span>
                                    break;
                            }
                            <span>@payment.Amount</span>
                        }
                    }
                </td>
                <td>
                    @switch(assignment.Status)
                    {
                        case AssignmentStatus.Pending:
                            <a class="btn btn-info btn-sm" href="/Admin/Assignment/Accept/@assignment.Id" target="_self">Accept</a>
                            <a class="btn btn-danger btn-sm" href="/Admin/Assignment/Reject/@assignment.Id" target="_self">Reject</a>
                            break;
                        case AssignmentStatus.Accepted:
                            <a class="btn btn-warning btn-sm" href="/Admin/Assignment/Appoint/@assignment.Id" target="_self">Appoint</a>
                            <a class="btn btn-danger btn-sm" href="/Admin/Assignment/Duplicate/@assignment.Id" target="_self">Duplicate</a>
                            break;
                        case AssignmentStatus.Appointed:
                            <a class="btn btn-success btn-sm" href="/Admin/Assignment/Complete/@assignment.Id" target="_self">Complete</a>
                            <a class="btn btn-info btn-sm" href="/Admin/Assignment/Reaccept/@assignment.Id" target="_self">Reaccept</a>
                            <a class="btn btn-danger btn-sm" href="/Admin/Assignment/Cancel/@assignment.Id" target="_self">Cancel</a>
                            break;
                        case AssignmentStatus.Duplicated:
                            <a class="btn btn-info btn-sm" href="/Admin/Assignment/Reaccept/@assignment.Id" target="_self">Reaccept</a>
                            <a class="btn btn-danger btn-sm" href="/Admin/Assignment/Cancel/@assignment.Id" target="_self">Cancel</a>
                            break;
                        case AssignmentStatus.Cancelled:
                            break;
                        case AssignmentStatus.Complete:
                            if (payments[assignment.Id] == null)
                            {
                                <a class="btn btn-info btn-sm" href="/Admin/Assignment/Pay/@assignment.Id">Confirm Payment</a>
                            }
                            else
                            {
                                <a class="btn btn-dark btn-sm" href="/Admin/Assignment/Close/@assignment.Id">Close</a>
                            }
                            break;
                    }
                </td>
            </tr>
        }
    </tbody>
</table>

@section scripts
{
    <script type="text/javascript">
        $('.assignment-nav .@status.ToLower()').addClass('active');
    </script>
}